@import 'base';
@import 'header';
@import 'loading';
@import 'panels/ads';
@import 'panels/beats';
@import 'panels/events';
@import 'panels/meeting-times';
@import 'panels/mtd';
@import 'panels/sponsors';
@import 'panels/sujay';
@import 'panels/weather';
@import url('../node_modules/react-grid-layout/css/styles.css');


body {
    color: $font-color;
    margin: 0px;
    @include monospace-font();
}

#main {
    width: 1920px;
    height: 1080px;
}

.row {
    margin: 25px;
    display: flex;
    justify-content: space-between;

    > .panel:first-child {
        margin-left: 0;
    }
}

.row-primary {
    height: 540px;
}

.row-secondary {
    height: 265px;
}

.panel {
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;

    .panel-heading {
        padding: 10px;
        border-bottom: 1.5px solid $border-color;
        color: $font-color-neg;
        background-color: $font-color-neg-back;
        flex-shrink: 0;

        h2 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.25em;
            font-weight: 400;
        }
    }

    .panel-body {
        padding: 10px;
        flex-grow: 1;
        @include serif-font;
    }
}

.panel-fill {
    flex-grow: 1;
}
