.meeting-times-panel {
    width: 500px;
}

.meeting-times-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid $border-color;
    padding: 0.625rem;
    text-align: left;
    width: calc(100% / 3);
}

.dot-container {
    text-align: center;

    .dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: $button-inactive-color;
        margin: 8px 6px;

        &.active {
            background-color: $button-active-color;
        }
    }
}
